
{{ if eq .chezmoi.os "linux" }}
export PATH=${PATH}:~/bin:/sbin:/usr/bin:/usr/sbin
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific code
{{   end }}
{{ end }}

{{- if eq .chezmoi.os "darwin" -}}
export PATH=${PATH}:/opt/homebrew/bin
export PATH=${PATH}:~/Library/Python/3.9/bin
{{ end -}}

